.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: red;
  transform-origin: 0%;
  color: white;
  padding: 3rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  translate: 0%;
}

.div1{
  height: 100vh;
  background-color: blueviolet;
  color: white;
  padding: 3rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  position: sticky;
  top: 0;
  z-index: -1;
}

.div2{
  height: 200vh;
  background-color: lightcoral;
  z-index: 1;
}

.finaldiv2{
  height: 50%;
  background-color: rgb(226, 165, 43);
  color: white;
  padding: 3rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  position: sticky;
  top: 0;
}

.app{
  position: relative;
  z-index: -1;
  width: 100%;
}

/* .finalDiv{
  height: 100vh;
  background-color: rgb(226, 43, 67);
  color: white;
  padding: 3rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  z-index: 2;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
} */

.behind{
  height: 50%;
}